---
title: CLI Reference
sidebar_position: 3
---

This documentation is for the `up` CLI {{ .Version }}.

The latest version of `up` can be installed by running:

```shell
curl -sL "https://cli.upbound.io" | sh
```

{{ range .Nodes }}{{ .ImportStr }}
{{ end }}

{{ range .Nodes }}## {{ .Cmd }}

<{{ .ImportName }} />
{{ end }}
